@{
    Layout = null;
    String AppBaseURLWithSlash = new CommonUtility.AppSettingReader().ReadKey("WebBaseURL");
    String AppBaseURL = AppBaseURLWithSlash.Substring(0, AppBaseURLWithSlash.Length - 1);
}


<div id="topSitesGraph">
    <img id="loading1" style="display: none;"
         src="@AppBaseURL/content/images/Graph_image.png" />
</div>
<script>

    $.get('@Url.Action("JsonTopSites")', function (result) {
        if (result.length == 0) {
            $("#loading1").show();
            
            $.get('<%= Url.Action("@AppBaseURL/Home/Index") %>', {},
                function (data) {
                    
                    $('#topSitesGraph').html(data);
                    $('#loading1').hide();
                });
        }
        else {
            new Morris.Bar({
                element: 'topSitesGraph',
                data: result,
                // The name of the data record attribute that contains x-values.
                xkey: 'Domain',
                // A list of names of data record attributes that contain y-values.
                ykeys: ['Count'],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Frequency'],
                //barColors: ['rgba(76, 99, 142, 1)'],
                //barColors: [' rgb(65,105,225)'],
                barColors: function (row, series, type) {
                    if (type === 'bar') {
                        var red = Math.ceil(125 * row.y / this.ymax);
                        return 'rgb(' + red + ',125,160)';
                    }
                    else {
                        return '#000';
                    }
                },
                hideHover: 'auto',
                resize: true,
                parseTime: false,
                xLabelAngle: 90,
                units: ' min.',
                axes: 'y',
                integerYLabels: true
            });
            $('svg').height(400);
        }

    });
</script>