<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="Category list" ba-panel-class="with-scroll">

            <div class="add-row-editable-table">
                <button class="btn btn-primary" ng-click="AddRow=true;">Add row</button>
               
            </div>
            <div class="row" ng-show="AddRow">
                
                <table class="table table-no-borders">
                    <tr>
                        <td>Category Name</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Category.txtCategory" />
                        </td>
                        <td>
                            <div class="checkbox">
                            <label class="custom-checkbox">
                                <input type="checkbox" ng-model="Category.chkBlock" value="option1"> 
                                <span>Block</span>
                                </label>
                            </div>
                       
                        </td>
            <td>
                <div class="checkbox">
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-model="Category.chkSatus" value="option1">
                        <span>Status</span>
                    </label>
                </div>
         
        </td>
              <td>
                  <div class="checkbox">
                      <label class="custom-checkbox">
                          <input type="checkbox" ng-model="Category.chkDeleted" value="option1">
                          <span>Satatus</span>
                      </label>
                  </div>
            
                </td>
                        <td>
                            <button type="submit" ng-click="AddCatgory()" class="btn btn-primary editable-table-button">
                                Save
                            </button>
                            <button type="button" ng-click="AddRow=false;" class="btn btn-default editable-table-button">
                                Cancel
                            </button>
                        </td>
            </tr>
            </table>
            </div>
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-hover">
                <thead>
                    <tr class="sortable ">
                        <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                        <th st-sort="CategoryName">Category Name</th>
                        <th st-sort="IsActive">Block</th>
                        <th st-sort="IsBlocked">Status</th>
                        <th st-sort="IsDeleted">Deleted</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <th>
                            <input st-search="CategoryName" placeholder="Search Category Name" class="input-sm form-control search-input"
                                   type="search" />
                        </th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="item in displayedCollection" class="editable-row">
                        <td>
                            {{$index}}
                        </td>
                        <td>
                            <span editable-text="item.CategoryName" e-name="CategoryName" e-form="rowform" e-required>
                                {{ item.CategoryName || 'empty' }}
                            </span>
                        </td>
                        <td class="select-td">
                            <span editable-checkbox="item.IsActive" e-name="IsActive" e-form="rowform">
                                {{ item.IsActive || 'In Active' }}
                            </span>
                        </td>
                        <td class="select-td">
                            <span editable-checkbox="item.IsBlocked" e-name="IsBlocked" e-form="rowform">
                                {{ item.IsBlocked || 'In Active' }}
                            </span>
                        </td>
                        <td class="select-td">
                            <span editable-checkbox="item.IsDeleted" e-name="IsBlocked" e-form="rowform">
                                {{ item.IsDeleted || 'In Active' }}
                            </span>
                        </td>
                        <td>
                            <form editable-form name="rowform" ng-show="rowform.$visible" onaftersave="updateUser(item)" class="form-buttons form-inline"
                                  shown="inserted == item">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                                    Save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                                    Cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            
        </div>
    </div>
</div>