<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="Groups" ba-panel-class="with-scroll">

            <div class="add-row-editable-table">
                <button class="btn btn-primary" ng-click="addUser()">Add row</button>

            </div>
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-hover">
                <thead>
                    <tr class="sortable ">
                        <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                        <th st-sort="GroupName">Group Name</th>
                        <th st-sort="ShiftStartTime">Shift Start Time</th>
                        <th st-sort="ShiftEndTime">Shift End Time</th>
                        <th st-sort="LunchStartTime">Lunch Start Time</th>
                        <th st-sort="LunchEndTime">Lunch End Time</th>
                        <th st-sort="IsActive">Status</th>
                        <th st-sort="IsDeleted">Deleted</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <th>
                            <input st-search="GroupName" placeholder="Search Group" class="input-sm form-control search-input"
                                   type="search" />
                        </th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                     

                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="item in displayedCollection" class="editable-row">
                        <td>
                            {{$index}}
                        </td>
                        <td>
                            <span editable-text="item.GroupName" e-name="GroupName" e-form="rowform" e-required>
                                {{ item.GroupName || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="item.ShiftStartTime" e-name="ShiftStartTime" e-form="rowform">
                                {{ item.ShiftStartTime || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="item.ShiftEndTime" e-name="ShiftEndTime" e-form="rowform">
                                {{ item.ShiftEndTime || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="item.LunchStartTime" e-name="LunchStartTime" e-form="rowform">
                                {{ item.LunchStartTime || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-text="item.LunchEndTime" e-name="LunchEndTime" e-form="rowform">
                                {{ item.LunchEndTime || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-checkbox="item.IsActive" e-name="IsActive" e-form="rowform">
                                {{ item.IsActive || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-checkbox="item.IsDeleted" e-name="IsDeleted" e-form="rowform">
                                {{ item.IsDeleted || 'empty' }}
                            </span>
                        </td>
                        
                        <td>
                            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                                  shown="inserted == item">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                                    Save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                                    Cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>